* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: monospace;
    color: #000;
}

body{
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    color: #000;
    
}
/* .logo{
    
} */
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem;
    box-sizing: border-box;
}

#nav-bar {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 2rem 3rem;
    padding: 1.2rem;
    border-radius: 10px;
    background-color: #f2f2f2;
    opacity: 0.8;
}

.lucide {
    width: 2.7rem;
    height: 2.7rem;
}
